<div class="intro">
  <div class="flex">
    <div class="col">
        <h1>Welcome every one</h1>
       <p> here You can find all info about website</p>
    </div>
    <div class="col">
        <p class="title">URL Shortener</p>
    <h1>Here you have full control over your links. </h1>
    <p>
        link Management PlateForm with all features you need in one place,Shorten,brand,manage and track your links the easy way.
    </p>
    <div class="btns">
            <a href="/users/login" class="btn">Login</a>
            <a href="#pricing" class="btn">pricing</a>
        </div>
    </div>
  </div>

    <div class="copy">
        By using our service you accept the Terms of service and Privacy.
    </div>
</div>