<section class="pricing">
    <div class="col">
        <div class="card">
            <h1 class="card-title">Free</h1>
            <p>Good for the beginning</p>
            <hr>
            <div class="card-body">
                <p>Branded domains <span>up to 3</span></p>
                <p>links/redirect <span>unlimited</span></p>
                <p>link analystic <span>last 30 days</span></p>
                <p>Aggregated Link Analytics <span>---</span></p>
                <p>Analytics of unique redirects <span>---</span></p>
                <p>Changing redirect url <span>---</span></p>
                <p>Test A/B <span>---</span></p>
                <p>Team <span>---</span></p>
                <p>Team members <span>---</span></p>
                <p>Cutt.ly API - only cutt.ly links <span>---</span></p>
                <p>Branded domains API <span>---</span></p>
                <p>Team API <span>---</span></p>
            </div>
            <div class="card-footer">
                <p>$ 0.00</p>
                <button>subscribe</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h1 class="card-title">single</h1>
            <p>Recommended for freelancers, bloggers, marketers...</p>
            <hr>
            <div class="card-body">
                <p>Branded domains <span>up to 5</span></p>
                <p>links/redirect <span>unlimited</span></p>
                <p>link analystic <span>unlimited</span></p>
                <p>Aggregated Link Analytics <span>✓</span></p>
                <p>Analytics of unique redirects <span>✓</span></p>
                <p>Changing redirect url <span>✓</span></p>
                <p>Test A/B <span>✓</span></p>
                <p>Team <span>---</span></p>
                <p>Team members <span>---</span></p>
                <p>Cutt.ly API - only cutt.ly links <span>✓</span></p>
                <p>Branded domains API <span>---</span></p>
                <p>Team API <span>---</span></p>
            </div>
            <div class="card-footer">
                <p>$25.00 / month </p>
                <button>subscribe</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h1 class="card-title">single</h1>
            <p>Recommended for freelancers, bloggers, marketers...</p>
            <hr>
            <div class="card-body">
                <p>Branded domains <span>up to 99</span></p>
                <p>links/redirect <span>unlimited</span></p>
                <p>link analystic <span>unlimited</span></p>
                <p>Aggregated Link Analytics <span>✓</span></p>
                <p>Analytics of unique redirects <span>✓</span></p>
                <p>Changing redirect url <span>✓</span></p>
                <p>Test A/B <span>✓</span></p>
                <p>Team <span>✓</span></p>
                <p>Team members <span>✓</span></p>
                <p>Cutt.ly API - only cutt.ly links <span>✓</span></p>
                <p>Branded domains API <span>✓</span></p>
                <p>Team API <span>✓</span></p>
            </div>
            <div class="card-footer">
                <p>$50.00 / month </p>
                <button>subscribe</button>
            </div>
        </div>
    </div>
</section>