<div id="services" class="services">
    <h2 class="title big">
        Link analytics, branded urls, URL shortener
    </h2>
    <p>
        Don't let the links limit you. Make your links support your brand. The new standard of shortening links. A new standard for link analytics. Discover unique redirects analytics - work with your team together building your brand engagment. Manage your links like a pro.
    </p>
    <div class="cards">
        <div class="card">
            <h3 class="card-title"> URL Shortener</h3>
            <p>
             Free custom URL Shortener with many features that gives you better quality for links shortening. Shortened URLs will never expire. We do not display ads during direct redirecting to the original url.
            </p>
         <a href="/users/login" class="btn">Sign up</a>
     </div>   
      <div class="card">
        <h3 class="card-title"> Link Analytics Platform
        </h3>
        <p>
            Track each shortened link and measure its performance to understand it. Detailed analytics provides you info about clicks, social media clicks, page referrer, devices, browsers, systems, geo location.
        </p>
     <a href="/users/login" class="btn">Sign up</a>
 </div>   
  <div class="card">
    <h3 class="card-title"> Link Management Platform
    </h3>
    <p>
        Optimize and customize each short URL to take advantage of its potential. Set your custom alias (name), use it in affiliate programs, get QR code for printing flyers and much more.

    </p>
 <a href="/users/login" class="btn">Sign up</a>
</div>
    </div>
</div>