</body>

<div class="footer-container">


    <div class="split">
        <div class="col">
            <h4>Cut Url</h4>
            <p>Cuttly | Free Custom URL Shortener, Branded URLs, Link Management, API</p>
            <h5>follow us on</h5>
            <div class="social">
                <a href="htttp://facebook.com">Facebook
            </a>
                <a href="htttp://instagram.com">instagram
            </a>
                <a href="htttp://twitter.com">twitter
            </a>
            </div>
        </div>
        <div class="col">
            <h4>URL Shortener
            </h4>
            <p>URL Shortener</p>
            <p>Available features</p>
            <p>future features</p>
            <p>business features</p>
        </div>
    </div>

    <div class="split">
        <div class="col">
            <h4>Link Management

            </h4>
            <p>API
            </p>
            <p>Check url</p>
            <p>cutt url button</p>
            <p>prview mode</p>
        </div>
        <div class="col">
            <h4>Cut url</h4>
            <p>Support</p>
            <p>integrations</p>
            <p>tes of services</p>
            <p>Support</p>
            <p>contact</p>
        </div>
    </div>
</div>
<div class="copy">
    <p> @ 2022 for cutt URL</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/script.js"></script>


</html>