<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="3IbBIxTQq1uZZ6mCMneZkFxpdEqPXExlrIb9pNs_C4k" />
    <meta name="keywords" content="cut Url , short your url ">
    <title>Cut Url</title>

<link rel="stylesheet"  href="https://use.fontawesome.com/releases/v5.15.4/css/all.css",integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm", crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
</head>


<body>
    <div class="header">
        <div class="logo">CutURL</div>
        <%- include('./user.ejs') %>
    </div>