<div class="messages">
    <%if(locals.errors){ %>
        <% errors.forEach(function(error) {%>
        <div class="alert alert-error">
           
       <%=error.msg%>
            
         </div>
         <%})%>
             <%}%>
       <%if(locals.success_msg){%>
           <div class="alert alert-success">
              
         <%=success_msg %>
              
           </div>
           <%}%>
               <%if(locals.message){%>
         <div class="alert alert-success">
            
       <%=message %>
           
         </div>
         <%}%>
             <%if(locals.error){%>
       <div class="alert alert-error">
        
               <%=error %>
           
       </div>
       <%}%>
</div>