<div class="messages">
    <%if(locals.errors){ %>
        <% errors.forEach(function(error) {%>
        <div class="alert alert-error">
           
       <%=error.msg%> <button id="close">X</button>
            
         </div>
         <%})%>
             <%}%>
       <%if(locals.success_msg!=""){%>
           <div class="alert alert-success">
              
         <%=success_msg %> <button id="close">X</button>
              
           </div>
           <%}%>
               <%if(locals.message&&locals.message!=""){%>
         <div class="alert alert-success">
            
       <%=message %> <button id="close">X</button>
           
         </div>
         <%}%>
             <%if(locals.error!=""){%>
       <div class="alert alert-error">
        
               <%=error %> <button id="close">X</button>
           
       </div>
       <%}%>
</div>