<%- include('./components/Header.ejs')%>

    <div class="registercontainer">
<div class="col-info">
<p>when you log in you can manage your dashboard</p>
<img src="/images/dashboard.png" alt="dashboard image"></div>

        <div class="Formcontainer">

            <form action="/users/register" method="POST" class="flex">
                <h2>Signup</h2>
                <%- include('./components/messages.ejs') %>
    
                   
                        <div class="form-control">
                            <label for="firstname">First Name </label>
                            <input type="text" id="firstname" name="firstName">
                        </div>
                        <div class="form-control">
                            <label for="lastname">Last Name </label>
                            <input type="text" id="lastname" name="lastName">
                        </div>
                    <div class="form-control">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="form-control">
                        <label for="password">password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <button>SignUp</button>
            </form>
            <a href="/users/login">Login</a>
        </div>
    </div>
    <%- include('./components/Footer.ejs')%>
