body {
  background-color: #eff1f1;
  font-family: sans-serif;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: black;
  color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.header .logo {
  font-size: 2rem;
}

.header button {
  border: none;
  background-color: #53d82a;
  padding: 0.7rem 1.4rem;
  border-radius: 1rem;
  font-weight: inherit;
  color: #03220c;
  font-size: 1.3rem;
  cursor: pointer;
}

.cut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(126, 126, 126, 0.65);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  margin: 0 auto;
}

.cut > * {
  border: none;
  background-color: none !important;
  outline: none;
}

.cut input {
  padding: 1rem;
  width: 400px;
  font-weight: bold;
  font-size: larger;
}

.cut button {
  background-color: #5e5ef0;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.title {
  text-align: center;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
}

.title::after {
  content: "";
  position: absolute;
  background-color: darkgray;
  width: 80%;
  height: 2px;
  bottom: -12%;
  left: 10%;
}

table {
  background-color: white;
  border: 1px solid #646363;
  padding: 0.4rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

table button {
  background-color: white;
  border: blue 1px solid;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  cursor: pointer;
}

table button:hover {
  color: white;
  background-color: #4949d3;
}

table th {
  color: blue;
  border-bottom: #535388 1px solid;
  padding: 1rem;
}

table .shortcol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

table .shortcol a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bolder;
  border-bottom: 1px solid black;
  padding: 0.1rem;
}

table .shortcol .clicks {
  border: blue 1px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  background-color: black;
  color: white;
  border-radius: 0.4rem;
}

table .shortcol .clicks span {
  background-color: blue;
  padding: 0.4rem;
  color: white;
  border-radius: 0.4rem;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.pricing .col {
  padding: 1rem;
  min-width: 300px;
  max-width: 350px;
  min-height: 590px;
  line-height: 2rem;
  border: 1px solid #c8c8c8;
}

.pricing .col p {
  width: 100%;
  color: rgba(0, 0, 0, 0.609);
}

.pricing .col p span {
  float: right;
  color: black;
}

.pricing .col:hover {
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
  border-color: black;
  -webkit-box-shadow: black 0px 0px 10px;
          box-shadow: black 0px 0px 10px;
}

.pricing .col .card-footer {
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
}

.pricing .col .card-footer p {
  color: #01a34d;
}

.pricing .col .card-footer button {
  background-color: #13ca69;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  cursor: pointer;
}

.pricing .col:nth-child(2) .card-footer p {
  color: #0e6df6;
}

.pricing .col:nth-child(2) .card-footer button {
  background-color: #0e6df6;
}

.pricing .col:nth-child(3) .card-footer p {
  color: tomato;
}

.pricing .col:nth-child(3) .card-footer button {
  background-color: tomato;
}

h1.notlogin {
  text-align: center;
  margin: 2rem;
}

@media (max-width: 700px) {
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .logo,
  .header h1 {
    font-size: 1rem !important;
    padding: 1rem 0;
  }
  .cut {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */