body {
  background-color: #eff1f1;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

html,
body {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  background-color: black;
  color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bolder;
}

.header .logo {
  font-size: 2rem;
}

.header button {
  border: none;
  background-color: #53d82a;
  padding: 0.7rem 1.4rem;
  border-radius: 1rem;
  font-weight: inherit;
  color: #03220c;
  font-size: 1.3rem;
  cursor: pointer;
}

.cut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(126, 126, 126, 0.65);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  margin: 2rem auto;
}

.cut > * {
  border: none;
  background-color: none !important;
  outline: none;
}

.cut input {
  padding: 1rem;
  width: 100%;
  font-weight: bold;
  font-size: larger;
}

.cut button {
  background-color: #5e5ef0;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.title {
  text-align: center;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
}

.title::after {
  content: "";
  position: absolute;
  background-color: darkgray;
  width: 80%;
  height: 2px;
  bottom: -20%;
  left: 10%;
}

.dashbord-info {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #ffffff;
  padding: 2rem;
  margin: 2rem auto;
  text-align: center;
}

.dashbord-info > div {
  width: 300px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.dashbord-info > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashbord-info > div:nth-child(1) {
  background-color: #f8f9fa;
}

.dashbord-info > div:nth-child(2) {
  background-color: #e8f9f6;
}

.dashbord-info > div:nth-child(3) {
  background-color: #fcedeb;
}

.dashbord-info p {
  color: rgba(0, 0, 0, 0.582);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}

.linkesState {
  max-width: 900px;
  max-height: 900px;
  margin: 0 auto;
}

.cards-info {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.cards-info .card {
  border: 1px solid rgba(0, 0, 0, 0.513);
  border-radius: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  width: 100%;
}

.cards-info .card > * {
  margin-top: 2rem;
}

.cards-info .card .card-head,
.cards-info .card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-info .card .card-head .date {
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  border: 1px solid black;
  opacity: 0.8;
  padding: 0.6rem;
  border-radius: 1rem;
}

.cards-info .card .card-head .date:hover {
  opacity: 1;
}

.cards-info .card .card-body {
  opacity: 0.7;
  text-align: center;
}

.cards-info .card .card-footer .clicks {
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  border: 1px solid #1737cf;
  padding: 0.6rem;
  border-radius: 1rem;
  color: #1737cf;
}

.cards-info .card .card-footer button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #ffffff;
  border: 1px solid #fa0310;
  background-color: #fa0310;
  font-weight: 700;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.cards-info .card .card-footer button:hover {
  cursor: pointer;
  color: #fa0310;
  background-color: transparent;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.pricing .col {
  padding: 1rem;
  min-width: 300px;
  max-width: 350px;
  min-height: 590px;
  line-height: 2rem;
  border: 1px solid #c8c8c8;
}

.pricing .col p {
  width: 100%;
  color: rgba(0, 0, 0, 0.609);
}

.pricing .col p span {
  float: right;
  color: black;
}

.pricing .col:hover {
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
  border-color: black;
  -webkit-box-shadow: black 0px 0px 10px;
          box-shadow: black 0px 0px 10px;
}

.pricing .col .card-footer {
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
}

.pricing .col .card-footer p {
  color: #01a34d;
}

.pricing .col .card-footer button {
  background-color: #13ca69;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  cursor: pointer;
}

.pricing .col:nth-child(2) .card-footer p {
  color: #0e6df6;
}

.pricing .col:nth-child(2) .card-footer button {
  background-color: #0e6df6;
}

.pricing .col:nth-child(3) .card-footer p {
  color: tomato;
}

.pricing .col:nth-child(3) .card-footer button {
  background-color: tomato;
}

h1.notlogin {
  text-align: center;
  margin: 2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

.intro {
  background-color: #1737cf;
  color: white;
  padding: 3rem 1rem 0 1rem;
  line-height: 3rem;
}

.intro .flex {
  gap: 10%;
}

.intro .col {
  max-width: 700px;
}

.intro .col .title {
  opacity: 0.8;
  color: #e9f7ff;
}

.intro .col h1 {
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.intro .col p {
  color: #e7e7e7;
}

.intro .col .btns {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 1rem;
  padding: 1rem;
}

.intro .col .btns .btn {
  text-decoration: none;
  padding: 0 2rem;
  border-radius: 1rem;
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
  border: 1px solid lightgreen;
}

.intro .col .btns .btn:nth-child(1) {
  background-color: #18f318;
  color: #1737cf;
}

.intro .col .btns .btn:nth-child(2) {
  color: lightgreen;
}

.intro .col .btns .btn:hover:nth-child(1) {
  background-color: #1737cf;
  color: #18f318;
}

.intro .col .btns .btn:hover:nth-child(2) {
  background-color: #18f318;
  color: #1737cf;
}

.intro .copy {
  text-align: center;
  margin-top: 3rem;
}

.services {
  text-align: center;
  margin: 3rem 0;
}

.services .big {
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
}

.services .info {
  max-width: 500px;
  margin: 3rem auto;
}

.services p {
  color: #585656;
  font-weight: 800;
  padding: 1rem 0;
}

.services .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.services .cards .card {
  width: 200px;
  min-height: 310px;
  border: #0e6df6 solid 2px;
  padding: 1rem;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.services .cards .card > h3 {
  color: #203cc7;
  font-size: 1.3rem;
}

.services .cards .card .btn {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  padding: 0.3rem 0.5rem;
}

.services .cards .card .btn:hover {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  border: #0e6df6 2px solid;
}

.services .cards .card:hover {
  -webkit-box-shadow: #0e6df6 0 0 5px 5px;
          box-shadow: #0e6df6 0 0 5px 5px;
}

.services .cards .card p {
  font-size: 0.8rem;
  color: #0b203da1;
}

.footer-container {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  width: 100%;
  line-height: 2.2rem;
}

.footer-container .split {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-container .split .col {
  max-width: 200px;
}

.footer-container .split .col p {
  color: #807d7d;
}

.footer-container .split .col .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.footer-container .split .col .social > * {
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.footer-container .split .col .social > *:hover {
  color: #0097bd;
  border-bottom: blue 1px solid;
}

.copy {
  text-align: center;
  background-color: white;
  padding: 2rem;
  font-weight: bolder;
  color: #08086b;
}

.messages {
  text-align: center;
}

.messages .alert {
  margin: 0.4rem;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.messages .alert-success {
  color: yellowgreen;
  font-weight: bold;
}

.messages .alert-error {
  color: #cd3732;
}

.messages .alert button {
  color: #fa0310;
  border: 1px #fa0310 solid;
  padding: 0.7rem;
  margin: 0.1rem;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  float: right;
}

.messages .alert button:hover {
  cursor: pointer;
  background-color: red;
  color: #eff1f1;
}

.logincontainer,
.registercontainer {
  min-height: 60vh;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logincontainer .col-info p,
.registercontainer .col-info p {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.logincontainer .col-info img,
.registercontainer .col-info img {
  width: 100%;
}

.logincontainer .flex,
.registercontainer .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logincontainer .Formcontainer,
.registercontainer .Formcontainer {
  padding: 1rem;
  min-width: 500px;
  max-width: 800px;
}

.logincontainer .Formcontainer .form-control,
.registercontainer .Formcontainer .form-control {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  color: rgba(0, 0, 0, 0.692);
  margin: 2rem 0;
}

.logincontainer .Formcontainer .form-control label,
.registercontainer .Formcontainer .form-control label {
  font-weight: bold;
}

.logincontainer .Formcontainer .form-control input,
.registercontainer .Formcontainer .form-control input {
  border: none;
  outline: none;
  border-bottom: darkgray solid 2px;
  padding: 1rem;
}

.logincontainer .Formcontainer .form-control input:focus,
.registercontainer .Formcontainer .form-control input:focus {
  border-color: black;
}

.logincontainer .Formcontainer button,
.registercontainer .Formcontainer button {
  border: none;
  padding: 0.5rem 1rem;
  border: #0e6df6 solid 2px;
  cursor: pointer;
  margin: 1rem 0.5rem;
}

.logincontainer .Formcontainer a,
.registercontainer .Formcontainer a {
  border-bottom: #0e6df6 solid 2px;
  padding-bottom: 0.4rem;
  color: #0e6df6;
}

@media (max-width: 768px) {
  .logincontainer,
  .registercontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logincontainer .Formcontainer,
  .registercontainer .Formcontainer {
    padding: 1rem;
    min-width: 100%;
    max-width: 500px;
  }
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .logo,
  .header h1 {
    font-size: 1rem !important;
    padding: 1rem 0;
  }
  .cut {
    width: 100%;
  }
  .services .info {
    font-size: 0.85rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .flex,
  .split {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */